# Copy this file to .env and fill in the values
STARKNET_RPC_URL=http://0.0.0.0:5050/rpc
RUST_LOG=debug
KAKAROT_HTTP_RPC_ADDRESS=0.0.0.0:3030
KAKAROT_ADDRESS=0x7a88f6f9d63ccaa5855babb32cbb0230b8588aaaa6bc4ce2d173fa528ce7567
PROXY_ACCOUNT_CLASS_HASH=0x3010a53967fa04842bcbcb6de8817101f047ef0d074b3eacbe714a3fc42a2eb

# configurations for testing
COMPILED_KAKAROT_PATH=crates/core/tests/compiled_solidity
KAKAROT_EVM_PROJECT_DIR=
