# Copy this file to .env and fill in the values

# Rust Environment
RUST_LOG=debug

# Starknet Environment
STARKNET_NETWORK=testnet
## Katana specific configurations
KATANA_ACCOUNT_ADDRESS=0x03ee9e18edc71a6df30ac3aca2e0b02a198fbce19b7480a63a0d71cbd76652e0
KATANA_PRIVATE_KEY=0x0300001800000000300000180000000000030000000000003006001800006600
## Madara account address and private key
MADARA_ACCOUNT_ADDRESS=0x3
MADARA_PRIVATE_KEY=0x00c1cf1490de1352865301bb8705143f3ef938f97fdf892f1090dcb5ac7bcd1d

# Kakarot Environment
KAKAROT_HTTP_RPC_ADDRESS=0.0.0.0:3030
## check `./deployments/katana/deployments.json` after running `make devnet`
KAKAROT_ADDRESS=
PROXY_ACCOUNT_CLASS_HASH=0x4b9eef81a3f0a582dfed69be93196cedbff063e0fa206b34b4c2f06ac505f0c

## configurations for testing
COMPILED_KAKAROT_PATH=lib/kakarot/build

## An EVM private to define a default EOA for EVM related scripts
## This default value is Anvil first account private key
EVM_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
