[submodule "kakarot"]
	path = lib/kakarot
	url = https://github.com/kkrt-labs/kakarot.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/madara"]
	path = lib/madara
	url = https://github.com/keep-starknet-strange/madara
