[package]
name = "kakarot-rpc"
version = "0.1.0"
edition = "2021"
authors = [
  "Abdelhamid Bakhta <@abdelhamidbakhta>",
  "Elias Tazartes <@eikix>",
  "Clement Walter <@clementwalter>",
  "Gregory Edison <@greged93>",
  "Johann Bestowrous <@jobez>",
  "Harsh Bajpai <@bajpai244>",
  "Danilo Kim <@danilowhk>",
]
description = "RPC node for the Kakarot zk EVM"
homepage = "https://github.com/kkrt-labs"
repository = "https://github.com/kkrt-labs/kakarot-rpc"
readme = "./README.md"
license = "MIT"

[dependencies]
# Starknet dependencies
starknet = "0.7.0"
starknet-crypto = "0.6.1"
starknet_api = { git = "https://github.com/starkware-libs/starknet-api", rev = "ecc9b6946ef13003da202838e4124a9ad2efabb0" }

starknet-abigen-parser = { git = "https://github.com/glihm/starknet-abigen-rs", tag = "v0.1.4-beta3" }
starknet-abigen-macros = { git = "https://github.com/glihm/starknet-abigen-rs", tag = "v0.1.4-beta3" }

# Ethereum dependencies
ethers = "2.0.9"
ethers-solc = "2.0.9"
jsonrpsee = { version = "0.18.2", features = ["full"] }
reth-rpc-api = { git = "https://github.com/paradigmxyz/reth.git", tag = "v0.1.0-alpha.10" }
reth-rpc-types = { git = "https://github.com/paradigmxyz/reth.git", tag = "v0.1.0-alpha.10" }
reth-rlp = { git = "https://github.com/paradigmxyz/reth.git", tag = "v0.1.0-alpha.10" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth.git", tag = "v0.1.0-alpha.10" }

# Serde
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0"
serde_with = "2.3.1"

# Others
anyhow = "1.0.68"
async-trait = "0.1.58"
ctor = "0.2.4"
dotenv = "0.15.0"
eyre = "0.6.8"
git2 = "0.18.0"
lazy_static = "1.4.0"
pin-project = "1.1.2"
ruint = "1.9.0"
rstest = "0.18.1"
tokio = { version = "1.21.2", features = ["macros"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.3", features = ["env-filter"] }
url = "2.3.1"

env_logger = "0.10.0"
hex = "0.4"
log = "0.4.17"
reqwest = "0.11.13"
thiserror = "1.0.38"

tower = "0.4.12"
tower-http = "0.4.4"
futures = "0.3.26"
num-bigint = "0.4.3"

bytes = "1"
foundry-config = { git = "https://github.com/foundry-rs/foundry", branch = "master" }
walkdir = "2.3.3"


# In order to use dojo-test-utils, we need to explicitly declare the same patches as them in our Cargo.toml
# Otherwise, underlying dependencies of dojo will not be patched and we will get a compilation error
# see https://github.com/dojoengine/dojo/issues/563
# When making changes to the rev, please also update to make file to the same rev in the `install-katana` rule.
katana-core = { git = 'https://github.com/dojoengine/dojo', rev = "be16762" }
dojo-test-utils = { git = 'https://github.com/dojoengine/dojo', rev = "be16762" }

[patch."https://github.com/starkware-libs/blockifier"]
blockifier = { git = "https://github.com/dojoengine/blockifier", rev = "3357e69" }

[patch.crates-io]
cairo-felt = { git = "https://github.com/dojoengine/cairo-rs.git", rev = "262b7eb4b11ab165a2a936a5f914e78aa732d4a2" }
cairo-vm = { git = "https://github.com/dojoengine/cairo-rs.git", rev = "262b7eb4b11ab165a2a936a5f914e78aa732d4a2" }

[dev-dependencies]
toml = "0.7.5"
cargo-husky = { version = "1.5.0", default-features = false, features = [
  "precommit-hook",
  "run-for-all",
  "run-cargo-clippy",
  "run-cargo-fmt",
] }
dojo-test-utils = { git = 'https://github.com/dojoengine/dojo', rev = "be16762" }
rstest = "0.18.1"
