# trunk-ignore-all(yamllint/empty-values)
version: "3.8"

services:
  starknet:
    image: nethermind/juno:v0.11.1
    ports:
      - 6060:6060
    volumes:
      - ${HOME}/code/kkrt-labs/snapshots/juno_sepolia:/var/lib/juno
    command: >
      --pending-poll-interval "1s"
      --http
      --http-host 0.0.0.0
      --http-port 6060
      --db-path /var/lib/juno
      --eth-node ${ETH_NODE_WS}
      --cn-name KKRT_BETA
      --cn-feeder-url https://gateway-beta.kakarot.sw-dev.io/feeder_gateway/
      --cn-gateway-url https://gateway-beta.kakarot.sw-dev.io/gateway/
      --cn-l1-chain-id 11155111
      --cn-l2-chain-id kkrt
      --cn-core-contract-address 0xc7c9ea7fD0921Cb6EDd9a3184F88cF1b821aA82B
      --cn-unverifiable-range 0,0
    networks:
      - internal_staging
  starknet-explorer:
    image: public.ecr.aws/o5q6k5w4/stark_compass_explorer:latest
    ports:
      - 4000:4000
    environment:
      - PHX_HOST=localhost
      - PORT=4000
      - RPC_API_HOST=http://host.docker.internal_staging:6060
      - TESTNET_RPC_API_HOST=http://host.docker.internal_staging:6060
      - SEPOLIA_RPC_API_HOST=http://host.docker.internal_staging:6060
      - DISABLE_MAINNET_SYNC=true
      - DISABLE_SEPOLIA_SYNC=true
      - DATABASE_PATH=ecto://postgres:postgres@starknet-explorer-db:5432/starknet_explorer_dev
      - DB_TYPE=postgres
      - SECRET_KEY_BASE=JyULoT5cLBifW+XNEuCTVoAb+SaFgQt9j227RN0cKpR3wTsrApGd1HNcgeopemyl
      - ENABLE_LISTENER=true
    depends_on:
      starknet-explorer-db:
        condition: service_started
      starknet:
        condition: service_started
    extra_hosts:
      - host.docker.internal_staging:172.17.0.1
    networks:
      - internal_staging

  starknet-explorer-db:
    image: postgres:15.3
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=starknet_explorer_dev
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - starknet_explorer_staging:/var/lib/postgresql/data/

  kakarot-rpc:
    image: ghcr.io/kkrt-labs/kakarot-rpc/node:v0.6.19-alpha1
    pull_policy: always
    ports:
      - 3030:3030
    environment:
      - KAKAROT_RPC_URL=0.0.0.0:3030
      - STARKNET_NETWORK=http://starknet:6060
      - RUST_LOG=info
      - MONGO_CONNECTION_STRING=mongodb://mongo:mongo@mongo:27017
      - MONGO_DATABASE_NAME=kakarot-local
      # These values are unique to Sepolia Testnet
      # They'll need to be manually changed in case the testnet is reset
      # To add robustness: parse the `deployments/starknet-sepolia` folder in `kkrt-labs/kakarot` repo
      - KAKAROT_ADDRESS=0x2824d6ed6759ac4c4a54a39b78d04c0e48be8937237026bf8c3bf46a8bea722
      - UNINITIALIZED_ACCOUNT_CLASS_HASH=0x600f6862938312a05a0cfecba0dcaf37693efc9e4075a6adfb62e196022678e
      - ACCOUNT_CONTRACT_CLASS_HASH=0x1276d0b017701646f8646b69de6c3b3584edce71879678a679f28c07a9971cf
      - MAX_FELTS_IN_CALLDATA=30000
      - TRANSACTION_MAX_RETRIES=10
      - MAX_LOGS=10000
      - RETRY_TX_INTERVAL=10
      - WHITE_LISTED_EIP_155_TRANSACTION_HASHES=0xeddf9e61fb9d8f5111840daef55e5fde0041f5702856532cdbb5a02998033d26,0xb6274b80bc7cda162df89894c7748a5cb7ba2eaa6004183c41a1837c3b072f1e,0x07471adfe8f4ec553c1199f495be97fc8be8e0626ae307281c22534460184ed1,0xb95343413e459a0f97461812111254163ae53467855c0d73e0f1e7c5b8442fa3
    restart: on-failure
    volumes:
      # Mount the indexer code
      - indexer_code:/usr/src/indexer
    depends_on:
      starknet:
        condition: service_started
    networks:
      - internal_staging

  apibara-dna:
    extends:
      file: docker-compose.yaml
      service: apibara-dna
    command:
      - start
      - --rpc=http://starknet:6060
      - --wait-for-rpc
      - --data=/data
      - --head-refresh-interval-ms=1000

  ### MongoDB with Mongo Express
  mongo:
    image: mongo:6.0.8
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongo_data_staging:/data/db
    networks:
      - internal_staging
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo

  indexer:
    image: quay.io/apibara/sink-mongo:0.7.0
    command:
      - run
      - /indexer/src/main.ts
    environment:
      # Whitelist environment variables
      - ALLOW_ENV_FROM_ENV=DEBUG,APIBARA_AUTH_TOKEN,STARTING_BLOCK,STREAM_URL,SINK_TYPE,MONGO_CONNECTION_STRING,MONGO_DATABASE_NAME,STARKNET_NETWORK,KAKAROT_ADDRESS,ALLOW_NET,MONGO_REPLACE_DATA_INSIDE_TRANSACTION,DEFAULT_BLOCK_GAS_LIMIT
      - DEBUG=""
      - APIBARA_AUTH_TOKEN=""
      - MONGO_CONNECTION_STRING=mongodb://mongo:mongo@mongo:27017
      - MONGO_DATABASE_NAME=kakarot-local
      - STARTING_BLOCK=0
      - STREAM_URL=http://apibara-dna:7171
      - SINK_TYPE=mongo
      - STARKNET_NETWORK=http://starknet:6060
      - ALLOW_NET=
      - MONGO_REPLACE_DATA_INSIDE_TRANSACTION=false
      - KAKAROT_ADDRESS=0x2824d6ed6759ac4c4a54a39b78d04c0e48be8937237026bf8c3bf46a8bea722
      - DEFAULT_BLOCK_GAS_LIMIT=7000000
    restart: on-failure
    volumes:
      - indexer_code:/indexer
    networks:
      - internal_staging
    depends_on:
      starknet:
        condition: service_started

networks:
  internal_staging:
    driver: bridge
  default:
    driver: bridge
  close:
    driver: bridge

volumes:
  apibara_staging:
  mongo_data_staging:
  indexer_code_staging:
  pgadmin_data_staging:
  starknet_explorer_staging:
  juno_files_staging:
