services:
  starknet:
    image: nethermind/juno:v0.11.1
    ports:
      - 6060:6060
    volumes:
      - ${HOME}/code/kkrt-labs/snapshots/juno_sepolia:/var/lib/juno
    command: >
      --pending-poll-interval "1s" --http --http-host 0.0.0.0 --http-port 6060
      --db-path /var/lib/juno --eth-node ${ETH_NODE_WS} --cn-name KKRT_BETA
      --cn-feeder-url https://gateway-beta.kakarot.sw-dev.io/feeder_gateway/
      --cn-gateway-url https://gateway-beta.kakarot.sw-dev.io/gateway/
      --cn-l1-chain-id 11155111 --cn-l2-chain-id kkrt --cn-core-contract-address
      0xc7c9ea7fD0921Cb6EDd9a3184F88cF1b821aA82B --cn-unverifiable-range
      0,1000000
    networks:
      - internal_staging
  starknet-explorer:
    image: public.ecr.aws/o5q6k5w4/stark_compass_explorer:latest
    ports:
      - 4000:4000
    environment:
      - PHX_HOST=localhost
      - PORT=4000
      - RPC_API_HOST=http://host.docker.internal_staging:6060
      - TESTNET_RPC_API_HOST=http://host.docker.internal_staging:6060
      - SEPOLIA_RPC_API_HOST=http://host.docker.internal_staging:6060
      - DISABLE_MAINNET_SYNC=true
      - DISABLE_SEPOLIA_SYNC=true
      - DATABASE_PATH=ecto://postgres:postgres@starknet-explorer-db:5432/starknet_explorer_dev
      - DB_TYPE=postgres
      - SECRET_KEY_BASE=JyULoT5cLBifW+XNEuCTVoAb+SaFgQt9j227RN0cKpR3wTsrApGd1HNcgeopemyl
      - ENABLE_LISTENER=true
    depends_on:
      starknet-explorer-db:
        condition: service_started
      starknet:
        condition: service_started
    extra_hosts:
      - host.docker.internal_staging:172.17.0.1
    networks:
      - internal_staging

  starknet-explorer-db:
    image: postgres:15.3
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=starknet_explorer_dev
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - starknet_explorer_staging:/var/lib/postgresql/data/

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: blockscout
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: blockscout
    networks:
      - internal_staging
    volumes:
      - postgres_data_staging:/var/lib/postgresql/data

  redis:
    image: redis:6
    command: redis-server --save 60 1 --loglevel warning
    networks:
      - internal_staging
    volumes:
      - redis_data_staging:/data

  blockscout:
    image: blockscout/blockscout:latest
    environment:
      DATABASE_URL: postgres://blockscout:postgres@postgres:5432/blockscout
      DATABASE_SSL: "false"
      DATABASE_POOL_SIZE: 10
      DATABASE_TIMEOUT: 5000
      ECTO_USE_SSL: "false"
      BLOCKSCOUT_HOST: 0.0.0.0
      PORT: 4000
      APP_NAME: Blockscout
      ETHEREUM_JSONRPC_VARIANT: geth
      ETHEREUM_JSONRPC_HTTP_URL: http://kakarot-rpc:3030
      ETHEREUM_JSONRPC_TRACE_URL: http://kakarot-rpc:3030
    ports:
      - 4001:4000
    networks:
      - internal_staging
    command:
      [
        /bin/sh,
        -c,
        bin/blockscout eval "Elixir.Explorer.ReleaseTasks.create_and_migrate()"
        && bin/blockscout start,
      ]
    depends_on:
      - postgres
      - redis

  kakarot-rpc:
    image: ghcr.io/kkrt-labs/kakarot-rpc/node:v0.6.19-alpha2
    pull_policy: always
    ports:
      - 3030:3030
    environment:
      - KAKAROT_RPC_URL=0.0.0.0:3030
      - STARKNET_NETWORK=http://starknet:6060
      - RUST_LOG=info
      - MONGO_CONNECTION_STRING=mongodb://mongo:mongo@mongo:27017
      - MONGO_DATABASE_NAME=kakarot-local
      # These values are unique to Sepolia Testnet
      # They'll need to be manually changed in case the testnet is reset
      # To add robustness: parse the `deployments/starknet-sepolia` folder in `kkrt-labs/kakarot` repo
      - KAKAROT_ADDRESS=0x2824d6ed6759ac4c4a54a39b78d04c0e48be8937237026bf8c3bf46a8bea722
      - UNINITIALIZED_ACCOUNT_CLASS_HASH=0x600f6862938312a05a0cfecba0dcaf37693efc9e4075a6adfb62e196022678e
      - ACCOUNT_CONTRACT_CLASS_HASH=0x1276d0b017701646f8646b69de6c3b3584edce71879678a679f28c07a9971cf
      - MAX_FELTS_IN_CALLDATA=30000
      - MAX_LOGS=10000
      - WHITE_LISTED_EIP_155_TRANSACTION_HASHES=0xeddf9e61fb9d8f5111840daef55e5fde0041f5702856532cdbb5a02998033d26,0xb6274b80bc7cda162df89894c7748a5cb7ba2eaa6004183c41a1837c3b072f1e,0x07471adfe8f4ec553c1199f495be97fc8be8e0626ae307281c22534460184ed1,0xb95343413e459a0f97461812111254163ae53467855c0d73e0f1e7c5b8442fa3
      - RELAYER_PRIVATE_KEY=0x1234
      - RELAYERS_ADDRESSES:>
        0x6f644133991e779509cb319fd4c9416f949950f07a8bc3cb10916966ec1dca,0xc6d61dd26ec6175554977f61198b28f58a7c5f46228b7fb7b44f6f619d800,
        0x6faca0d5ce2437933257a91d95536c7cf3bfa12808f314741efd104e9a0c2d9,0x2cced3d1628b867e1b69216df87d869e7f5c8dd066a9114d44e2d1af3fbf2c4,
        0x30ee97c478d8a845d0d6ec0c447650ee6161817199f3d5c2a84f8a033b960b2,0x13b09830d3bef686db99c570df79ddfd813502cfa1d7c640ed871a0de6637ba,
        0x1e8f2ef3d53eb800432031fc3000b69b5132a2c4c0df821c20173ac8a91de6d,0x2523ffb01dad3d8803a4bae7e2990d74d92b201f5425f921cec2ccb92ee6f18,
        0xf6413b17b8ae645ce13e635df7dcb573086ff9558d8d9d7d2e343a250e4885,0x765e5f1ae2f6d796f359ea7c47c88387046d371aef1f02337921fe326fbacc2,
        0x21466caac9f9e2605100c76a0ab15e2cbc72942b876f4665fa490dd83f7a00f,0x28d165b48e0b523044bd790bae4cc7096d8747565b1d58691683662e12b6402,
        0x7297a3b129e3d3101bb9956338c9c64b7055556146c7ff2497caad4a831c11d,0x8d9da3628af39d3bb9a2155b4eb63af7791da1fd3864f93bb57130fa2b59d2,
        0x4dc2ebca0fa6de9e7f67e821e425a0f9a53cb300cc44cbd93d69c307ac536eb,0x6ea69b53281261da1cfde205a5e8c02db26bfa51df77419fef71014c53e03f1,
        0x3709159b0a92aefacba33401098c5b3c09240b67dd5c1d5ee9a778e6205028b,0x3ea725fcff7ddaffbdc1134be5ae164bcbf8155135de1d8663c5efb106c9b08,
        0x3135b4bb94b1b7c0d7a7074291d0f1d92ab57d1f61bddd0b7195f70207752ae,0x1eb1e028ffa31652cecb7d18311aac1a281610a535f20e7a3a82c13db226b0c,
        0x4f57bf04228bf2d2db2e0a8573c6594558a5f0b487c1229b5fe7723473afa58,0x2f24013ebb0911d5f27a2a2c3d07b8c73b2f36239d8325187ed25db1ce794b5,
        0x10e3a8574c22d19951d8e8715cc98a26b9ed9fe39f8e002cc82f49c189ea56c,0x6f823719688a9c3e54f7528d4e2a464773170365c2e8b97d699aa2cc519875e,
        0x669774f839f462c3267b1d28e9c31264e1436a48033ee0f71e77bef153cfb81,0x6ad46e2c0b5f52412560bb12ad77e2958d53e5f30fc5bc995101dd700e22597,
        0xe07332a9bf6f9d3ced6f3f1cb60607d01fba1f6be9da1b3650c58c8d683e06,0x3c320f3726b90a8e21d200eeb956f863c59c9d3744e5f5d9280c648225c7775,
        0xdc68dd15efb6b43a02a8679e4a21a9b8195cd44e6134d5034131520c55dbfa,0x594aa6e8d8d5ea9ea4a86681222f65975ed38c4e0f20e8493c0ad9887b3c3f4
    restart: on-failure
    volumes:
      # Mount the indexer code
      - indexer_code_staging:/usr/src/indexer
    depends_on:
      starknet:
        condition: service_started
    networks:
      - internal_staging

  apibara-dna:
    image: quay.io/apibara/starknet:1.5.0
    command:
      - start
      - --rpc=http://starknet:6060
      - --wait-for-rpc
      - --data=/data
      - --head-refresh-interval-ms=1000
    ports:
      - 7171:7171
    volumes:
      - apibara_staging:/data
    networks:
      - internal_staging
    restart: on-failure

  ### MongoDB with Mongo Express
  mongo:
    image: mongo:6.0.8
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongo_data_staging:/data/db
    networks:
      - internal_staging
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo

  indexer:
    image: quay.io/apibara/sink-mongo:0.7.1
    command:
      - run
      - /indexer/src/main.ts
    environment:
      # Whitelist environment variables
      - ALLOW_ENV_FROM_ENV=DEBUG,APIBARA_AUTH_TOKEN,STARTING_BLOCK,STREAM_URL,SINK_TYPE,MONGO_CONNECTION_STRING,MONGO_DATABASE_NAME,STARKNET_NETWORK,KAKAROT_ADDRESS,ALLOW_NET,MONGO_REPLACE_DATA_INSIDE_TRANSACTION,DEFAULT_BLOCK_GAS_LIMIT
      - DEBUG=""
      - APIBARA_AUTH_TOKEN=""
      - MONGO_CONNECTION_STRING=mongodb://mongo:mongo@mongo:27017
      - MONGO_DATABASE_NAME=kakarot-local
      - STARTING_BLOCK=0
      - STREAM_URL=http://apibara-dna:7171
      - SINK_TYPE=mongo
      - STARKNET_NETWORK=http://starknet:6060
      - ALLOW_NET=
      - MONGO_REPLACE_DATA_INSIDE_TRANSACTION=false
      - KAKAROT_ADDRESS=0x2824d6ed6759ac4c4a54a39b78d04c0e48be8937237026bf8c3bf46a8bea722
      - DEFAULT_BLOCK_GAS_LIMIT=7000000
    restart: on-failure
    volumes:
      - indexer_code_staging:/indexer
    networks:
      - internal_staging
    depends_on:
      starknet:
        condition: service_started

networks:
  internal_staging:
    driver: bridge
  internal:
    driver: bridge
  default:
    driver: bridge
  close:
    driver: bridge

volumes:
  apibara_staging:
  mongo_data_staging:
  indexer_code_staging:
  pgadmin_data_staging:
  starknet_explorer_staging:
  juno_files_staging:
  postgres_data_staging:
  redis_data_staging:
