version: '3.2'

services:
  starknet:
    image: greged93/katana:v0.4.4
    command:
      - katana
      - --block-time
      - "6000"
      - --disable-fee
      - --validate-max-steps
      - "16777216"
      - --invoke-max-steps
      - "16777216"
      - --gas-price
      - "1"
      - --chain-id
      - "KKRT"
    ports:
      - "5050:5050"
    networks:
      - internal
    restart: on-failure

  kakarot-deployer:
    image: ghcr.io/kkrt-labs/kakarot/deployer:latest
    environment:
      - ACCOUNT_ADDRESS=0x517ececd29116499f4a1b64b094da79ba08dfd54a3edaa316134c41f8160973
      - PRIVATE_KEY=0x1800000000300000180000000000030000000000003006001800006600
      - EVM_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
      - RPC_URL=http://starknet:5050
    volumes:
      # Since STARKNET_NETWORK is not set, deployments will be saved without network folder
      - deployments:/app/kakarot/deployments
    depends_on:
      starknet:
        condition: service_healthy
    restart: on-failure
    networks:
      - internal

  deployments-parser:
    image: apteno/alpine-jq:2023-07-24
    # Parse deployments and save the result to .env file
    entrypoint:
      - '/bin/sh'
      - '-c'
      # First line overrides an existing .env, if any.
      # This is to make sure that it is clean even though docker volume was not cleaned.
      - |
        echo "KAKAROT_ADDRESS=$$(jq -r '.kakarot.address' /deployments/custom-rpc/deployments.json)" > /deployments/.env;
        echo "DEPLOYER_ACCOUNT_ADDRESS=$$(jq -r '.deployer_account.address' /deployments/custom-rpc/deployments.json)" >> /deployments/.env;
        echo "PROXY_ACCOUNT_CLASS_HASH=$$(jq -r '.proxy' /deployments/custom-rpc/declarations.json)" >> /deployments/.env
        echo "EXTERNALLY_OWNED_ACCOUNT_CLASS_HASH=$$(jq -r '.externally_owned_account' /deployments/custom-rpc/declarations.json)" >> /deployments/.env
        echo "CONTRACT_ACCOUNT_CLASS_HASH=$$(jq -r '.contract_account' /deployments/custom-rpc/declarations.json)" >> /deployments/.env
    volumes:
      - deployments:/deployments
    depends_on:
      kakarot-deployer:
        condition: service_completed_successfully

  kakarot-rpc:
    image: ghcr.io/kkrt-labs/kakarot-rpc/node:latest
    # Always pull the latest image, until we use release tags
    # TODO: use release tags
    pull_policy: always
    ports:
      - 3030:3030
    environment:
      - KAKAROT_RPC_URL=0.0.0.0:3030
      - STARKNET_NETWORK=http://starknet:5050
      - RUST_LOG=kakarot_rpc=info
      - MONGO_CONNECTION_STRING=mongodb://mongo:mongo@mongo:27017
      - MONGO_DATABASE_NAME=kakarot-local
    volumes:
      # Mount the volume on workdir and use .env stored in root of the volume
      - deployments:/usr/src/app
    depends_on:
      deployments-parser:
        condition: service_completed_successfully
    restart: on-failure
    networks:
      - internal

  apibara-dna:
    image: quay.io/apibara/starknet:1.2.0
    command:
      - start
      - --rpc=http://starknet:5050
      - --wait-for-rpc
      - --data=/data
    ports:
      - 7171:7171
    volumes:
      - apibara:/data
    networks:
      - internal
    restart: on-failure
    depends_on:
      kakarot-deployer:
        condition: service_completed_successfully
      starknet:
        condition: service_healthy

  ### MongoDB with Mongo Express
  mongo:
    image: mongo:6.0.8
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    networks:
      - internal
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo

  clone-repo:
    image: docker.io/alpine/git:latest
    entrypoint: "/bin/sh"
    command:
      - "-c"
      # clone the repository in `/code`, removing any old copy.
      - "cd /code && rm -rf kakarot-indexer && git clone -v https://github.com/kkrt-labs/kakarot-indexer.git"
    volumes:
      - "indexer_code:/code"
    restart: on-failure

  indexer:
    image: quay.io/apibara/sink-mongo
    command:
      - run
      - /code/kakarot-indexer/src/main.ts
    environment:
      # Whitelist environment variables
      - ALLOW_ENV_FROM_ENV=DEBUG,APIBARA_AUTH_TOKEN,STARTING_BLOCK,STREAM_URL,SINK_TYPE,MONGO_CONNECTION_STRING,MONGO_DATABASE_NAME
      - DEBUG=""
      - APIBARA_AUTH_TOKEN=""
      - MONGO_CONNECTION_STRING=mongodb://mongo:mongo@mongo:27017
      - MONGO_DATABASE_NAME=kakarot-local
      - STARTING_BLOCK=0
      - STREAM_URL=http://apibara-dna:7171
      - SINK_TYPE=mongo
    restart: on-failure
    volumes:
      - "indexer_code:/code"
    networks:
      - internal
    depends_on:
      clone-repo:
        condition: service_completed_successfully
      starknet:
        condition: service_healthy
      kakarot-deployer:
        condition: service_completed_successfully

networks:
  internal:

volumes:
  deployments:
  apibara:
  mongo_data:
  indexer_code:
