[package]
name = "kakarot_rpc_core"
version = "0.1.0"
edition = { workspace = true }
description = { workspace = true }
homepage = { workspace = true }

[dependencies]
anyhow = "1.0.68"
async-trait = { workspace = true }
env_logger = "0.10.0"
eyre = "0.6.8"
hex = "0.4"
jsonrpsee = { workspace = true }
log = "0.4.17"
reqwest = "0.11.13"
reth-primitives = { workspace = true }
reth-rlp = { workspace = true }
reth-rpc-api = { workspace = true }
reth-rpc-types = { workspace = true }
starknet = { workspace = true }
thiserror = "1.0.38"
url = "2.3.1"

num-bigint = "0.4.3"
futures = "0.3.26"
serde = { version = "1.0" }
serde_json = "1.0"
serde_with = "2.2.0"
tokio = { version = "1.21.2", features = ["macros"] }

wiremock = "0.5.17"
lazy_static = "1.4.0"

[dev-dependencies]
starknet-crypto = { workspace = true }
