name: linters

on:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Download ABI artifacts
        uses: actions/download-artifact@v3
        with:
          name: contract-abis
          path: ./artifacts/**/*.json
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.73.0
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v2
      - uses: actions-rs/cargo@v1
        with:
          command: check

  fmt:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Download ABI artifacts
        uses: actions/download-artifact@v3
        with:
          name: contract-abis
          path: ./artifacts/**/*.json
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.73.0
          profile: minimal
          override: true
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      # Download ABI from artifacts for Abigen
      - name: Download ABI artifacts
        uses: actions/download-artifact@v3
        with:
          name: contract-abis
          path: ./artifacts/**/*.json
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.73.0
          profile: minimal
          override: true
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-features --all-targets -- -D warnings
