---
name: Spell Check

on:
  workflow_call:

jobs:
  spell-check:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v1
        with:
          check_filenames: true
          check_hidden: true
          ignore_words_file: ./.codespellignore Cargo.toml
          skip: target
