name: test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest-16-cores
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - name: Setup rust env
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          components: llvm-tools-preview, rustfmt, clippy
          override: true
          toolchain: 1.75.0
      - name: Retrieve cached dependencies
        uses: Swatinem/rust-cache@v2
      - name: Setup coverage env
        uses: taiki-e/install-action@cargo-llvm-cov
      # nextest setup
      - uses: taiki-e/install-action@nextest
      # Install Foundry
      - name: install foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      # Install Python
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@v3
        with:
          path: ~/.local
          key: poetry-${{ runner.os }}
      - name: Install Poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
      - name: Setup the Kakarot submodule
        run: make setup
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # Create dump
      - name: Create dump
        run: ./scripts/make_with_env.sh katana-genesis
      - name: Lint
        run: |
          cargo check &&
          cargo fmt --all -- --check &&
          cargo clippy --workspace --all-features --all-targets -- -D warnings
      - name: Generate code coverage
        run: make test-coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: lcov.info
          fail_ci_if_error: false

  # The CI job for the Hive was taken from Reth workflow
  hive-prepare:
    runs-on: ubuntu-latest-16-cores
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Hive
        uses: docker/build-push-action@v4
        with:
          push: false
          tags: hive
          load: true
          context: .
          file: ./docker/hive/Dockerfile
          platforms: linux/amd64
          build-args: |
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
            APIBARA_STARKNET_BIN_DIR=dsrifc349xgnwsv661shqljxb8pbxx2j
            APIBARA_SINK_BIN_DIR=vr6f0crii7571q19j122dfqb1ha1m4i9
          outputs: type=docker,dest=./artifacts/kakarot_image.tar
      - name: Checkout hive tests
        uses: actions/checkout@v4
        with:
          repository: kkrt-labs/hive
          ref: master
          path: hivetests
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: Compile hive
        run: |
          cd hivetests
          go build hive.go
          mv ./hive ../artifacts/
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: ./artifacts

  hive-test:
    runs-on: ubuntu-latest-16-cores
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        sim: [ethereum/rpc]
        include:
          - sim: ethereum/rpc-compat
            include:
              - eth_blockNumber/simple-test
              - eth_call/call-simple-contract
              - eth_call/call-simple-transfer
              - eth_chainId/get-chain-id
              - eth_estimateGas/estimate-simple-contract
              - eth_estimateGas/estimate-simple-transfer
              - eth_getBalance/get-balance
              - eth_getBlockByHash/get-block-by-empty-hash
              - eth_getBlockByHash/get-block-by-notfound-hash
              - eth_getBlockByNumber/get-block-notfound
              - eth_getBlockReceipts/get-block-receipts-empty
              - eth_getBlockReceipts/get-block-receipts-future
              - eth_getBlockReceipts/get-block-receipts-not-found
              - eth_getBlockTransactionCountByNumber/get-block-n
              - eth_getBlockTransactionCountByNumber/get-genesis
              - eth_getCode/get-code
              - eth_getStorage/get-storage
              - eth_getTransactionByBlockNumberAndIndex/get-block-n
              - eth_getTransactionByHash/get-access-list
              - eth_getTransactionByHash/get-dynamic-fee
              - eth_getTransactionByHash/get-empty-tx
              - eth_getTransactionByHash/get-legacy-create
              - eth_getTransactionByHash/get-legacy-input
              - eth_getTransactionByHash/get-legacy-tx
              - eth_getTransactionByHash/get-notfound-tx
              - eth_getTransactionReceipt/get-dynamic-fee
              - eth_getTransactionReceipt/get-empty-tx
              - eth_getTransactionReceipt/get-legacy-receipt
              - eth_getTransactionReceipt/get-notfound-tx
              - eth_sendRawTransaction/send-access-list-transaction
              - eth_sendRawTransaction/send-dynamic-fee-access-list-transaction
              - eth_sendRawTransaction/send-dynamic-fee-transaction
              - eth_sendRawTransaction/send-legacy-transaction
              - eth_syncing/check-syncing
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: artifacts
          path: /tmp
      - name: Load Docker image
        run: |
          docker load --input /tmp/kakarot_image.tar
          docker image ls -a
      - name: Move hive binary
        run: |
          mv /tmp/hive /usr/local/bin
          chmod +x /usr/local/bin/hive
      - name: Checkout hive tests
        uses: actions/checkout@v4
        with:
          repository: kkrt-labs/hive
          ref: master
          path: hivetests
      - name: Run ${{ matrix.sim }} simulator
        run: |
          cd hivetests
          hive --sim "${{ matrix.sim }}$" --sim.limit "/${{join(matrix.include, '|')}}" --client reth
      - name: Print logs
        if: always()
        run: |
          cd hive
          echo "Logs:"
          cat workspace/logs/*.log
          echo "Kakarot logs:"
          cat workspace/logs/kakarot/*.log
          echo "Details logs:"
          cat workspace/logs/details/*.log
